@import './shared-styles/reset.scss';
@import './shared-styles/variables.scss';
@import './shared-styles/mixins.scss';

html,
body {
  font-size: $font-size-base;
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
}
